* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

@font-face {
  font-family: "Lora";
  src: url("fonts/lora-regular-webfont.eot");
  src: local(":relaxed:"), url("fonts/lora-regular-webfont.woff2") format("woff");
}

@font-face {
  font-family: "Genericons";
  src: url("fonts/Genericons.woff") format("woff");
}

@font-face {
  font-family: "Roboto-bold";
  src: url("fonts/robotocondensed-bold-webfont.woff2") format("woff");
}

.newsweek-logo {
  width: 160px;
  margin-left: -20px;
}

.navigation-bar {
  background-color: #f72210;
  padding: 1px;
  height: 50px;
}

.list-items {
  font-family: Roboto-bold;
}

.cta {
  width: 240px;
  margin-top: 7px;
}

.ham {
  margin-top: 6px;
}

.ham::before,
.ham span,
.ham::after {
  content: '';
  display: block;
  width: 29px;
  height: 4px;
  background-color: #fb9a94;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.arrow {
  width: 15px;
  height: 15px;
}

.cta-btn {
  color: #f72210;
  font-size: 18px;
  height: 27px;
}

.h-5 {
  font-size: 18px;
  margin-top: 3px;
}

.time {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 100;
}

.bg-img {
  position: relative;
}

.text-black {
  font-family: Roboto-bold, sans-serif;
  color: black;
}

.bg-article-body-title {
  font-size: 22px;
}

.header-tag {
  font-family: Roboto-bold, sans-serif;
  font-size: 16px;
  color: rgba(3, 3, 3, 0.4);
}

.bg-article-text {
  font-size: 13px;
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, 0.55);
  line-height: 1.5;
}

.a-tag-red:hover {
  color: black;
  text-decoration-color: #f72210;
}

.more-stories-a-body-header {
  font-size: 17px;
}

.side-box {
  padding: 5px 7px;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  left: 0; 
  font-family: Roboto-bold, sans-serif;
}

.side-box-a {
  color: #f72210;
}

.no-border {
  border-radius: 0;
}

.b-bottom {
  border-bottom: 1px solid #ccc;
}

.more-stories-image {
  width: 260px;
  height: 168px;
}

.bg-change {
  background-color: #f2f2f2;
}

.text-genericon-header {
  font-family: Lora, sans-serif;
  font-size: 21px;
}

.a-text-gen,
.a-text-gen:hover {
  color: #272727;
  text-decoration: none;
}

.c-t-text {
  font: 15px/20px "Helvetica Neue","Helvetica",Arial,sans-serif;
  color: rgba(39, 39, 39, 0.5);
  margin-bottom: 10px;
}

.tags {
  font-size: 13px;
  background-color: #c2d4d7;
  color: #272727;
  padding: 0 6px;
}

.tags:hover {
  background-color: #272727;
  color: #c2d4d7;
  text-decoration: none;
}

.black-red {
  color: black;
  font-size: 17px;
  font-family: Roboto-bold, sans-serif;
}

.black-red:hover {
  color: #f72210;
  text-decoration: none;
}

.black-red-sm {
  font-size: 16px;
}

.author {
  font-size: 14px;
  font-family: Roboto-bold, sans-serif;
  margin-top: -3px;
}

.rounded-img {
  width: 63px;
  height: 63px;
}

.small-card {
  width: 250px;
}

.small-card-inner {
  width: 290px;
}

.small-card-header {
  font-family: Roboto-bold, sans-serif;
  line-height: 1.0;
}

.small-text {
  font-size: 15px;
}

.icon-n {
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}

.roboto-bold {
  font-family: Roboto-bold, sans-serif
}

.signup-btn {
  font-size: 19px;
}

.bg-ash:hover {
  background-color: #dbdcdd;
}

.mag-content {
  width: 200px;
}

.cover {
  font-size: 17px;
  background-color: #f72210;
}

.world {
  font-size: 17px;
  color: #f72210;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .article-one {
    width: 54%;
    margin-left: 4%;
  }

  .article-two {
    width: 42%;
  }

  .article-three {
    width: 100%;
  }

  .equal-width {
    width: 47%;
  }

  .left {
    margin-left: 6%;
  }

  .more-stories-image {
    width: 140px;
    height: 90px;
  }

  .half-width {
    width: 50%;
  }

  .three-articles-md {
    width: 31%;
  }

  .three-container {
    width: 72%;
  }

  .see-features {
    width: 25.5%;
  }
}

@media (min-width: 992px) {
  .cta {
    width: 195px;
  }

  .newsweek-logo-bg {
    width: 400px;
  }

  .navigation-bar {
    height: 95px;
  }

  .white-nav {
    position: relative;
    height: 50px;
  }

  .nav-container {
    width: 100%;
  }

  .white-nav::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 50px;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
  }

  .dark-tag {
    color: #000;
    font-family: Roboto-bold, sans-serif;
    font-size: 21px;
  }

  .dark-tag:hover {
    text-decoration: none;
    color: #f72210;
  }

  .search-section {
    width: 130px;
  }

  .search-tag {
    font-size: 17px;
    margin-left: -4px;
    font-family: Genericons, sans-serif;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.55);
    position: relative;
  }

  .search-icon {
    background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
    width: 20px;
    height: 20px;
    clip: auto;
    font-size: 0;
    position: absolute;
    top: 3px;
    left: 60px;
  }

  .article-one {
    width: 42%;
    margin-left: 0%;
  }

  .article-two {
    width: 26%;
  }

  .article-three {
    width: 26%;
  }

  .half-width {
    width: 100%;
  } 

  .top-section {
    overflow-x: hidden;
  }
}

@media (min-width: 1200px) {
  .nav-container {
    width: 98%;
    margin: 0 auto;
  }

  .big-container {
    width: 97%;
    margin: 0 auto;
  }
}
